<%- include('../partials/header') %>
    <div class="middle">
        <div class="w-100">
            <form action="/books/<%= book._id %>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="text" name="comment[text]">
                </div>
                <button class="btn btn-secondary btn-block">Submit</button>
            </form>
        </div>
    </div>
<%- include('../partials/footer') %>