.middle {
    margin: auto;
    width: 60%;
    padding: 100px 0 ;
    height: 100%;
    justify-content: center;
}
#delete {
    display: inline;
}
.head {
    padding-top: 30px;
}
.card{
    background-color: #343a40;
    color: #ffffff;
}
.card-img {
    background-size: cover;
    background-position: center;
    height: 100%;
}
.alert {
    margin-top: 80px;
}

@media (max-width: 991px) {
    .middle {
        width: 90%;
        display: flex;
        justify-content: center;
    }
}